*{
    padding: 0;
    margin: 0;
}

//estilos universais---
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 100vh;
    background-color: #9AADBD;
}

//titulo h1
.titulo_universal{ 
    color: #435F75;
    padding-top: 4%;
    text-align: center;
}

//container responsive
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: flex-start;
    align-content: flex-start;
    height: auto;
    width: 100%;
    
    
    #col-7{
        width: 200%;
        height:auto;
        // border: 1px solid;
      
        padding-left: 10%;
        padding-top: 7%;
       
    }

    .col{
        width: 100%;
        height: auto;
        // border: 1px solid;
    }
    
}

.row{
    flex-wrap:wrap;
}

//Primeira parte HOME--

// titulo  h1
#t1{
    font-size: 40px;
    color: white; 
}


//barra de navegação
nav {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 8vh;

 
    .item-nav {
        letter-spacing: 3px;
        margin-left: 42px;
    }
  
    .nav-list {
        list-style: none;
        display: flex;
    }

    a{
        color: white;
        text-decoration: none;
    }

    a:hover{
        color: blue;
    }
}  

//caixa que contem todo o formulario
#caixaForm{
    color: #435F75;
    margin-top: 10%;
    margin-left: 0%;
    border-radius: 5%;
    width: 88%;
    height: 380px;
    background-color: white;
    display: flex;
    align-items: center ;
    justify-content:center ;

    input{
        color: #435F75;
        padding-left: 20px;
        border-radius: 7px;
        width: 91%;
        height: 40px;
        margin-top: 1%; 
        font-weight: bold; 
    }

    textarea{
        color: #435F75;
        width: 100%;
        height: 100px;
        margin-top: 1%;
        font-weight: bold;      
    }
    button{
        background-color: #435F75;
        color: white;
        font-weight: bold;
        margin-top: 1%;
        width: 100%;
        height: 40px;

        &:hover{
            opacity: 0.5;
            cursor: pointer;
        }
    }
}


//Segunda parte Sobre---

#sobre{
    flex-wrap:wrap;
    height: 100vh;
    
}

// paragrafo
#p2{
    color: #435F75;
    padding-top: 16%;
    font-size: 24px;
    margin: 5%;
    text-align: justify;
}

// div que contem a foto
#foto{
    width: 450px;
    height: 300px;
    border: 1px solid;
    margin-top: 12%;
    margin-left: 15%;
}


// serviço terceira parte ---
#servico{
    flex-wrap:wrap;
    height: 110vh;
    background-color: #EFF0F5;
}

//colunas

#colPedido{
    text-align: center;
    position: relative;
    text-decoration: none;
}

#btn-pedido{
    text-decoration: none;
    border: 1px solid rgb(206, 200, 200);
    color: white;
    background-color: #435F75;
    border-radius: 10px;
    font-size: larger;
    padding: 1%;


    &:hover{
        opacity: 0.5;
    }
}

//borda dos elementos
.bordaSVC{
    height: 115px;
    margin: 10%;
    border: 1px solid rgb(206, 200, 200);
}

//icones
.icones{
    width: 50px;
    height: 50px;
    margin-left: 41%;
    margin-top: 5%;
}

// texto abaixo dos icones
.textoIcon{
    text-align: center;
    font-weight:bold;
}

//descrição dos icones
.subText_icon{
    font-size: 10px;
    text-align: center;
}


//perguntas quarta parte---
#perguntas{
    height: 93vh;
}

.bordePerguntas{
    border: 1px solid #435F75;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    &:hover{
        cursor: pointer;
        background-color: rgb(212, 205, 205) ;
    }

    p{
        margin: 2%;
        text-align: center;
        color: #435F75;
    }
}


//Contato quinta parte---
#contato{
    background-color: #5B6E81;
    height: 70vh;
}

#titulo_contato{
    color: white;
}	

.contato_margin{
    margin-top: 10%;
}

.col1_contato{
    margin-left: 10%;
    text-align: center;

    a{
        text-decoration: none;
        padding: 1%;
        border: 1px solid gray;
        color: white;
        background-color: #2e4355;

        &:hover{
            opacity: 0.5;
        }
    }
}

#faleConosco{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

#paragrafo_contato{
    font-weight: bold;
    color: white;
}

#caixaContat{
    width: 80%;
    height:35vh;
    margin-left: 10%;
    background-color: white;
    display: flex;
    flex-direction: row;
    
    p{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2%;
    }

    img:hover{
        cursor: pointer;
        opacity: 0.5;
    }

}

.text_caixaContat{
    text-align: center;
    margin-top: 1%;
}


//Rodape---
footer{
    height: 10vh;
    color: white;
    font-size: 10PX;
    text-align: center;
    background-color: #44596A
}

#direitosReservados{
    margin-top: 2%;
    margin-right: 15px;
}

#cnpj{
    text-align: end;
}

#termos{
    text-align: start;
    margin-left: 2px;
}

